node_modules/
vendor/cypress-realworld-app/node_modules/
vendor/cypress-realworld-app/build/
cypress/videos/
cypress/screenshots/
cypress/downloads/
reports/mochawesome/*.json
reports/mochawesome/*.html
reports/mochawesome/assets/
reports/playwright-html/
playwright-report/
test-results/
*.tsbuildinfo
.env
